.display {
  background: gray;
  height: 100px;
  line-height: 100px;
  color: black;
  font-weight: bold;
  text-align: right;
  padding: 0 10px;
  font-size: 2em;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
